<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @sponsor.project_id %>
</p>

<p>
  <b>Name:</b>
  <%= @sponsor.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @sponsor.amount %>
</p>


<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
